.upload-section{

}
.main {
margin-top: 50px;
width:auto;
height:aut0;
border: 2px solid gray;
background-color: #FFFFFF;
border-radius: 10px;
}
.main h1{
	text-align:center;
}
.label{
color: rgba(0, 0, 0, 0.71);
margin-left:15%;
font-size:18px;
}
#previewing{
	height:220px;
	width:220px;
	margin:auto;
}
#image_preview{
font-size: 20px;
text-align: center;
font-weight: bold;
color: #C0C0C0;
background-color: #FFFFFF;
overflow: auto;
}
#selectImage{
bottom:0px;
width:auto;
background-color: #FEFFED;
border-radius: 10px;
}
.submit{
font-size: 16px;
background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
border: 1px solid #e5a900;
color: #4E4D4B;
font-weight: bold;
cursor: pointer;
margin:0 auto;
width: 72%;
border-radius: 5px;
padding: 10px 0;
outline: none;
margin-top: 20px;
}
.submit:hover{
background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}
#file {
color: red;
padding: 5px;
border: 5px solid #8BF1B0;
background-color: #8BF1B0;
margin-top: 20px;
border-radius: 5px;
box-shadow: 0 0 15px #626F7E;
margin:0 auto;
width: 72%;
}
.output{
	margin
}
#message{
	margin:50px 0px 0px 0px;
}
#success
{
color:green;
}
#invalid
{
color:red;
}
#error
{
color:red;
}
#error_message
{
color:blue;
}
#loading
{
display:none;
top:100px;
font-size:25px;
}

 
@media (max-width: @screen-xs) {
    body{font-size: 10px;}
    h1{font-size: 8px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
    h1{font-size: 8px;}
}
